WB_API_KEY=YOUR_WILDBERRIES_API_KEY

# https://docs.google.com/spreadsheets/d/V1d0d1kxTndXbWhIVXpCWmEzQmpVM0JhYUVkVE1B/edit
# spreadsheet id -> V1d0d1kxTndXbWhIVXpCWmEzQmpVM0JhYUVkVE1B <- spreadsheet id
# for multiple ids, separate them with a comma (,)
SPREADSHEETS_IDS=sprd_id_1,sprd_id_2

NODE_ENV=production

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

DATABASE_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}